<div class="board no-display text-center">
	<h2 class="countdown text-center">{{$ctrl.secondsLeft}}</h2>
	<h2 class="text-center">Player: {{$ctrl.name}}</h2>
	<h2 class="text-center">Score: {{$ctrl.score}}</h2>
	<button class="btn btn-default" data-ng-click="$ctrl.resetBoard()">RESET</button>
	<div class="flex wrap justify-content-center">
		<h1 data-ng-repeat="letter in $ctrl.words.scrambled track by $index"
			data-ng-click="$ctrl.addToResult($index, this.letter)"
			data-used="{{letter.used}}"
			class="scrabbled-letter flex">
			{{letter}}
		</h1>
	</div>
	<div class="flex wrap justify-content-center">
		<h1 data-ng-repeat="letter in $ctrl.words.result track by $index"
			data-ng-click="$ctrl.deleteFromResult($index, this.letter)"
			class="scrabbled-solution flex">
			{{letter}}
		</h1>
	</div>
</div>
