<div class="board no-display text-center">
	<h2 class="countdown text-center">{{$ctrl.secondsLeft}}</h2>
	<button class="btn btn-default" data-ng-click="$ctrl.resetBoard()">RESET</button>
	<div class="flex wrap justify-content-center">
		<h1 data-ng-repeat="letter in $ctrl.scrabbledWord track by $index"
			data-ng-click="$ctrl.addToResult($index, this)"
			class="scrabbled-letter flex">
			{{letter}}
		</h1>
	</div>
	<div class="flex wrap justify-content-center">
		<h1 data-ng-repeat="letter in $ctrl.resultWord track by $index"
			data-ng-click="$ctrl.deleteFromResult($index, this)"
			class="scrabbled-solution flex">
			{{letter}}
		</h1>
	</div>
</div>
