.scrabble {
	margin-top: 20rem;
}

.board {
	transform: all 0.5s;
}

.no-display {
	opacity: 0;
    position: absolute;
}

.scrabbled-solution,
.scrabbled-letter {
	display: inline-block;
	text-transform: uppercase;
	padding: 0 5px;
	border: 1px solid black;
	width: 7rem;
}

.scrabbled-solution {
		
}
