.flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.wrap {
	flex-wrap: wrap;
}

.title {
	font-size: 7rem;
}

.board {
	transform: all 0.5s;
}

.scrabbled-solution,
.scrabbled-letter {
    text-transform: uppercase;
    padding: 0 5px;
    border: 1px solid black;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
